spring:
  config:
    activate:
      on-profile: pro
  application:
    name: railway

  datasource:
    url: ${{DB_URL}}
    username: ${{DB_USER}}
    password: ${{DB_PASSWORD}}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect